# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Environment variables
.env
*.env

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
